.search {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat' sans-serif;
}
form {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}
.select {
    background-color: inherit;
    border: 2px solid #61892f;
    border-radius: 5px;
    width: 90%;
    line-height: 2.8rem;
    padding: 0.4rem;
    padding-left: 0.6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #86c232;
}
.select:focus {
    outline: none;
    border: 2px solid #86c232;
}
.submit {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-color: inherit;
    border: 2px solid #86c232;
    color: #86c232;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 0.25rem;
}
.submit:hover {
    color: #000000;
    background-color: #86c232;
}
.search > h1 {
  
    background-image: linear-gradient(45deg, #5e8035, #aff34f);
  
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.carousel {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}
.trending-header{
    font-size: 3rem;
}
.invalid {
    color : #a3a4a5
}
.container {
    margin-top: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;

}
.btn {
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #61892f;
    border-radius: 10px;
    color: white;
    width: 15vw;
    min-height: 10vh;
    margin-right: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.btn:hover {
    background-color: #86c232;
    color: black;
}
