div.card{
    padding: 0;
}

.card{
    height: 60vh;
    overflow: hidden;
    transition: 0.3s;
    width: 20vw;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #302f2f;
    border-radius: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid #61892f;
}
.card:hover {
    border: 2px solid #86c232;
    scale: 2;
}

img{
    padding: 5%;
    position: relative;
    width: 19.4vw;
    height: 310px; 
    border-radius: 12%;
     
}


.card_content {
    align-self: center;
    color: #86c232;
    width: 70%;
    height: 10%;
    font-family: 'Montserrat' sans-serif;
    font-size: 0.9rem;
    margin-bottom: 25%;
    text-align: center;
}


