nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    font-family: 'Zen Loop', cursive;
    font-size: 40px;
    letter-spacing: 5px;
    margin-top: 35%;
    margin-bottom: 35%;
    background-image: linear-gradient(45deg, #61892f, #86c232);
  
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
a {
    text-decoration: none;
    color: inherit;
}
.nav-links{
    display:flex;
    color: #61892f;
    width: 40%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
    letter-spacing: 5px;
    font-size: 14px;
    
    font-weight: bold;
}
.burger {
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #61892f;
}

@media screen and (max-width:1224px) {
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    .nav-links{
        display: none;
    }
    .burger{
        display: block;
    }
}
